
$TSR_Accent: #E3DAC6;
$TSR_textHead: #B55827;
$TSR_text:#83554E;
$TSR_Gold: #FDD739;
$TSR_Orange: #E46125;


$TSR_GoldTint: rgba(253, 209, 43,.7);

$TSR_Black: #09141e;
$TSR_White:#FFFFFF;

$TSR_WhiteTint:rgba(255, 255, 255,.5);

$TSR_Mscw:#A5CDEE;
$TSR_Bjing:#493615;