/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'base/colors';
@import 'base/fonts';
@import 'base/media';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
}




/* 2. Content ================================= */

section#page-wrapper{
	width:100%;
	height: 100vh;
	margin:0 auto;
	display: flex;
	flex-direction: column;

	@media#{$tablet}{
		flex-direction: row;
	}

	.scroll-wrapper{
		width:100%;
		margin:0 auto;
		height: 50vh;
		background-color:rgb(218, 196, 199);
		overflow: auto;
		@media#{$tablet}{
			height: 100vh;
		}
	
	}
	.fixed-wrapper{
		width:100%;
		height: 50vh;
		border:$TSR_GoldTint;
		display:flex;
		flex-direction: column;
		position: relative;
		@media#{$tablet}{
			height: 100vh;
		}
		
		
		.bookNow_bttn{
			display: none;
			position: absolute;
			top:0;
			right:0;
			width:150px;
			height:20px;
			margin:2%;
			border: 2px solid;
			background: transparent;

			@media#{$tablet}{
				display: block;
			}
			

		}

		.fixed-button{
			width:100%;
			height: 50vh;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			

			.inner_bttn{
				width:50%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-self: center;
				font-size:3em;
				h1{
					font-size:2em;
				}
				h2{
					font-size:.5em;
				}
				
				.arrow_top{
					position: relative;
					right:0;
				}

				
			}
		}

		.button_top{
			background-color: $TSR-Orange;
		}

		.button_bottom{
			background-color:$TSR-Gold;
		}

		.fixed-bar{
			position:absolute;
			top:calc(100% - 10px);
			right:0;
			width: 70%;
			height: 40px;
			background-color:$TSR-White;
			@media#{$tablet}{
				top:49%;
			}
			

		}

	}

	
}