/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'base/colors';
@import 'base/fonts';
@import 'base/media';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: $TSRmain;
}

.main-nav{
	position: absolute;
	top:1.5%;
	width:5%;
	min-width: 5%;
	z-index: 99;
	height:auto;
	//background-color: goldenrod;
	
	a{
		text-decoration: none;
		color: $TSR_textHead;
		width:100%;
		li{
			text-align: center;
			width:100%;
			padding-left:5%;
			font-size:1.2em;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.hover-line{
				width: 65%;
				height: 5px;
				background-color: $TSR_Accent;
				display: none;
			}
		}

		.active{
			color: $TSR_Accent;
			.hover-line{
				display: block;
			}
		}
	}

	a:hover{
		li{
			
			.hover-line{
				display: block;
				background-color: $TSR_textHead;
			}
		}

		.active{
			color: $TSR_Orange;
			.hover-line{
				background-color:$TSR_Orange;
			}
		}	
	}

	a:active{
		color: $TSR_Orange;
	}

	#navButton{
		width:100%;
		display: flex;
		justify-content: center;
		//position: absolute;

		.nav-bttn{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color:$TSR_textHead;
			
			.nav-icon {
				width: 40px;
				display: block;
			}

			.nav-icon:after, 
			.nav-icon:before, 
			.nav-icon div {
				background-color: $TSR_textHead;
				border-radius: 3px;
				content: '';
				display: block;
				height: 3px;
				margin: 7px 0;
				transition: all .2s ease-in-out;
			}

			.close-X{
				font-size:2em;
				display: none;
				//transform: rotate(0deg);
				transition: transform 2s, ease-in-out;
			}

			// .nav-icon:hover:before {
			// 	transform: translateY(12px) rotate(135deg);
			// }

			// .nav-icon:hover:after {
			// 	transform: translateY(-12px) rotate(-135deg);
			// }

			// .nav-icon:hover div {
			// 	transform: scale(0);
			// }

			p{
				margin-top:3%;
			}
		}

	}

	.nav-list{
		background-color: $TSR_White;
		//background-color: rosybrown;
		width:100vw;
		height:70vh;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		//align-items: flex-start;
		transform: translateX(-1500px);
		transition: transform 1s, ease-in-out;
		@media#{$tablet}{
			width: 500px;
		}
		

	}


}

.float-title{
	font-family: $TSRheading;
	font-weight:700; 
	z-index: 97;
}

.tsr_bttn{
	margin-top:5%;
	width:65%;
	background-color:$TSR_textHead;
	border: none;
	color:white;
	font-family: $TSRmain;
	padding:1%;
	font-size:1em;
}

.tsr_bttn_2{
	width:25%;
	background-color:$TSR_textHead;
	border: none;
	color:white;
	font-family: $TSRmain;
	padding:1%;
	font-size:.8em;
}

/* 2. Content ================================= */

section#page-wrapper{
	width:100%;
	height: 100vh;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	@media#{$tablet}{
		flex-direction: row;
	}

	.scroll-wrapper{
		width:100%;
		margin:0 auto;
		height: 100vh;
		overflow: scroll;

		@media#{$tablet}{
			width:50%;
			margin:0;
			overflow: unset;
		}

		.scroll-screen{
			width:100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			position: relative;
			z-index: 98;
			@media#{$tablet}{
				height: 55vh;
			}
			@media#{$desktop}{
				height: 100vh;
			}
			.screen_top{
				width:100%;
				height: 50%;
				line-height: 1.5em;
				.tsr_txt{
					width: 100%;
					font-size:1.10em;
					color: $TSR_text;
				}
			}

			.screen-bottomBox{
				width: 100%;
				height: 50%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				.bottomBox_wrapper{
					width:100%;
					margin:0 auto;
					line-height: 1.5em;
				
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.tsr_txtHead{
						width:65%;
						color: $TSR_textHead;
						font-size:1.2em;
						margin: 2% 0;
					}
					.tsr_txt{
						width:85%;
						font-size:1.10em;
						color: $TSR_text;

						@media#{$desktop}{
							width:65%;
						}
					}
				}
			}
			
		}

		.screen_1Header{


			.main-nav{
				width: 15%;
				.nav-list{
					width:100vw;
					height: 100vh;
					@media#{$tablet}{
						width:49.5vw;
						height: 90vh;
					}
				}
			}



			.header-welcome{
				width:100%;
			}
		}

		.screen_Mobile{
			display: block;
			position: relative;
			@media#{$tablet}{
				display: none;
			}
			.fbM{ //journey button on mobile
				display: none;
			}

			.button_top:hover{
				background-image: none;
			}
			.button_bottom:hover{
				background-image: none;
			}
		
		}

		.screen_2TSR{
			overflow: hidden;
			.screen_top{
				
				.IMGbox{
					width:70%;
					max-width: 75%;
					height: 100%;
					position: relative;
					@media#{$tablet}{
						min-width:88%;
						width:90%;
					}
					@media#{$desktop}{
						min-width:70%;
					}

					.float-title{
						width:max-content;
						position: absolute;
						top:130px;
						right:-70px;
						font-size:4em;
						z-index: 99;
						color:$TSR_textHead;
						@media#{$tablet}{
							right:-35px;
							font-size:5em;
						}
						@media#{$desktop}{
							right:-120px;
						}
					}

					.tsr-tracks{
						width:100%;
						height: 70%;
						position: absolute;
						bottom:0;
					}
					.tsr-lines{
						position: absolute;
						top:255px;
						right:-140px;
					}
				}
			}

			.bottomBox_2{
				position: relative;
				img{
					position: absolute;
					z-index: 1;
					width: 100%;
					top:10%;
				}

				.tsr_txt,.tsr_txtHead{
					z-index: 99;
				}
			}
		}

		.screen_3Service{
			position: relative;
			.screen_top{
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				width:100%;
				margin-bottom: 15%;
				@media#{$desktop}{
					margin-bottom: -15%;
				}

				.float-title{
					font-size:4em;
					z-index: 99;
					margin-bottom:5%;
					text-align: center;
					color:$TSR_textHead;
					@media#{$desktop}{
						font-size: 5em;
					}
					
				}
				.screen3_topTxtBox{
					width:100%;
					//max-width:85%;
					padding: 0 5%;
					display: flex;
					flex-direction: row;
					align-self: center;
					justify-content: space-evenly;
					@media#{$desktop}{
						width:75%;
					}
					
					.screen3_topImg{
						width:15%;
						display: flex;
						align-items: center;
				
						img{
							width:100%;
						}
					}

					.screen3_topTxt{
						width:65%;
						padding:2%;
						.tsr_txt{
							width: 100%;
						}
					}
				}
			}

			.bottomBox_3{
				width:100%;
				position: relative;
				// img.moonFall{
				// 	display:none;
				// 	width:30%;
				// 	position: sticky;
				// 	top:0;
				// 	@media#{$desktop}{
				// 		display: block;
				// 	}
				// }
				.bottomBox_wrapper{
					width:100%;
					height: 100%;
					display:flex;
					flex-direction: column-reverse;
					@media#{$desktop}{
						flex-direction:row;
					}
					

					.screen3_bttmTxt{
						width:100%;
						padding:0 2%;
						line-height: 1.5em;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						@media#{$desktop}{
							width:60%;
						}
						

						.bttmTxt_wrapper{
							width:90%;
							margin:0 auto;
							display: flex;
							flex-direction: column;
			
						}
					
					}

					.screen3_bttmImg{
						width:85%;
						@media#{$desktop}{
							width:60%
						}
						
						img{
							width: 100%;
						}

					}
				
				}
			}
			
			img.moonFall{
				display:none;
				width:20%;
				position: absolute;
				bottom:-50px;
				right: 250px;
				@media#{$desktop}{
					display: block;
				}
			}
		}
		
		.screen_4Cabins{
			
			.screen_top{
				width:100%;
				height: 55vh;
				@media#{$tablet}{
					height: 60vh;
				}
				.IMGbox{
					width:75%;
					position: relative;
					top:25%;
					.tint_box{
						position: absolute;
						bottom:0;
						width:100%;
						height: 20%;
						background-color:$TSR_WhiteTint;
					}
					.float-title{
						width:max-content;
						font-size:4em;
						z-index: 99;
						//text-align: center;
						position: absolute;
						bottom:-20px;
						right:-15%;
						color: $TSR_textHead;
						@media#{$tablet}{
							font-size: 3.5em;
						}
						@media#{$desktop}{
							font-size: 5em;
						}
						

					}

					img{
						width:100%;
					}
				}

			}

			.bottomBox_4{
				width:70%;
				height: auto;
				margin:1% auto;
				position: relative;
				img.cabin-line{
					position: relative;
					left:-90%;
					top:20px;
				}
				.tsr_txt{
					width: 65%;
				}
			}

		}

		.screen_5Footer{
			
			.screen_top{
				width:100%;
				height:50%;
				background-image: url("../img/compassLine.svg");
				background-position: left;
				background-repeat: no-repeat;
				
				.TXTbox{
					width:100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					

					.footer_txt{
						width:30%;
						height: auto;
						font-size:2em;
						text-align: center;
						color:$TSR_textHead;
						background-color: white;
					}
				}
			}

			.screen-bottomBox{
				width: 100%;
				height: 50%;
				border-top: 5px solid $TSR_Accent;

				.bottomBox_wrapper{
					width:100%;
					height: 100%;
					display: flex;
					flex-direction: column;

					.top_footer{
						width:100%;
						height: 50%;
						display: flex;
						flex-direction: column;
						

						.footer_logo{
							max-width:25%;
							height: 75%;
							margin: 5%;
							align-self: center;
							// @media#{$tablet}{
							// 	width:80%;
							// }
							// @media#{$desktop}{
							// 	width:40%;
							// }
							#logo_footer{
								width: 100%;
							}

						}

					}
					.bttm_footer{
						width:100%;
						height: 50%;
						display: flex;
						flex-direction: row;
						

						.bttm{
							width:50%;
							height: 100%;
							display: flex;
							flex-direction: column;
							

							ul{
								width:80%;
								height: 80%;
								margin: 0 auto;
								display: flex;
								flex-direction: column;
								justify-content: space-between;
								color:$TSR_textHead;

								li{
									font-size:1.2em;
									.txt{
										font-size: 1em;
										color:$TSR_Accent;
										float: right;
									}
								}

							}
						
						}
			
					
					}
				}
			}

		}
	
	}

	.fixed-wrapper{
		display: none;
		width:100%;
		height: 50vh;
		border:$TSR_GoldTint;
		font-family: $TSRstencil;
	
		@media#{$tablet}{
			display: flex;
			display: block;
			height: 100vh;
			width:50%;
			position: fixed;
			right:0;
		}

		a:link{
			text-decoration: none;
		}
		
		h2{
			font-family: $TSRmain;
			color:white;
		}

		.moscow{
			background: url("../img/book-bg.jpg") no-repeat;
			background-position-y: 35.5%;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
		
		}

		.bjing{
			background: url("../img/beijing.png") no-repeat;	
			-webkit-text-fill-color: transparent;
			background-position-y: 50%;
			-webkit-background-clip: text;
		}
		

		.bookNow_bttn{
			display: none;
			position: absolute;
			top:0;
			right:0;
			width:150px;
			height:20px;
			margin:2%;
			border: 2px solid;
			background: transparent;
			transition: 1s ease-in-out;
			@media#{$tablet}{
				display: block;
			}
			

		}

		.bookNow_bttn:hover{
			background-color: $TSR_GoldTint;
			border: $TSR-Gold;
			transform: scale(1.1);
		}

		.fixed-button{
			width:100%;
			height: 50vh;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			

			.inner_bttn{
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-self: center;
				font-size:3em;
				h1{
					font-size:1.3em;
				}
				h2{
					font-size:.5em;
				}
				
				.arrow_top,.arrow_bottom{
				
					img{
						width: 100%;
					}
				}			
			}
		}

		.button_top{
			background-color: $TSR-Orange;
			
		}
		.button_top:hover{
			background-image: url("../img/moscow.jpg");
			background-position: center;
		}
		.button_bottom{
			background-color:$TSR-Gold;		
		}
		
		.button_bottom:hover{
			background-size: 350%;
			background-image: url("../img/beijing.png");
			
		}

		.fixed-bar{
			position:absolute;
			top:calc(100% - 10px);
			right:0;
			width: 70%;
			height: 40px;
			background-color:$TSR-White;
			transition: transform 1.2s, width 1s, ease-in-out;
			overflow: hidden;

			.fixed-bar_title{
				width:50%;
				height: 100%;
				display: flex;
				justify-content:space-evenly;
				align-content: center;
				h2{
					//display: flex;
					align-self: center;
					color:$TSR_textHead;
					font-size:1.3em;
					transform: scale(1);
					transition: transform .8s ease-in-out;
				}

				.f-b_arrow{
					opacity: 0;
					align-self: center;
					transform: translateX(255px);
					transition: transform 1s, opacity 1s ease-in-out;

					img{
						width: 110%;
					}
				}

				
			}
			@media#{$tablet}{
				top:49%;
			}
			

		}

		.fixed-bar:hover{
			.fixed-bar_title{
				h2{
					font-size:1.5em;
					transform: scale(1.4);
				}
				.f-b_arrow{
					opacity: 1;
					transform: translateX(0);
				}
			}
		}


		.popout-menu{
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background-image:url("../img/book-bg.jpg");
			background-size: 400%;
			font-family: $TSRmain;
			display: flex;
			justify-content: center;
			align-items: center;
			transform:translateX(1500px);
			transition: transform 1s, ease;
			display: none;
			@media#{$tablet}{
				display: block;
			}

			.bookingWindow{
				width:90%;
				height: 85%;
				margin: 8% auto;
				border: 2px solid white;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				color:white;

				.close-button{
					width:20%;
					align-self: flex-end;
					margin:1%;
					padding:1%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					color:$TSR_textHead;

					.close-X{
						font-size:1.9em;
					}
				}
				.booking-title{
					font-size:2.2em;
					text-align: center;
					width:100%;
					align-self: center;
				}

				.booking-form{
					width:100%;
					display: flex;
					flex-direction: row;
					justify-content: space-around;

					.form{
						width: 30%;
						font-size:1.5em;
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
					}

					.formA{
						select{
							width: 90%;
							padding:16px 20px;
							margin:2%;
							border: none;
							border-bottom: 2px solid white;
							border-radius: 4px;
							background-color: transparent;
							color:white;
						}
					}

					.formB{

						#passengers{
							width:100%;
						}
					}
				}

				.booking-bttn{
					align-self: flex-end;
					width:50%;
					.tsr_bttn{
						width:90%;
						color:white;
					}
				}

			}
		}

	}

	
}

section#page2-wrapper{
	width:100%;
	min-width: 355px;
	height: auto;
	margin:0 auto;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: space-around;
	color: $TSR_textHead;
	background-image: url("../img/book_backLine2.png");
	background-repeat: repeat-y;
	background-position-x:75%;
	background-position-y: 35%;
	//background-size:contain;

	.main-nav{
		top:0%;
		width:15%;
	}

	.cabin-menu{
		width:85%;
		margin:0 auto;
		margin-bottom: 2%;
		//transform: translateY(-3000px);
		height: auto;
		background-color: transparent;
		transition: transform 1.5s;
		display: flex;
		flex-direction: column;
		align-items: center; 
		@media#{$tablet}{
			margin:5% auto;
		}
		
		ul{
			width:100%;
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			@media#{$tablet}{
				flex-direction: row;
			}
			
			

			.cm{
				width:50%;
				//height: 37%;
				//transform: translateY(-3000px);
				transition: transform 1.5s;
				flex-direction: column;
				display: none;
				@media#{$tablet}{
					display: flex;
					text-align: center;
					flex-direction: row;
				}

				a{
					width:100%;
					text-decoration: none;
					color:$TSR_textHead;
					@media#{$tablet}{
						width:35%;
					}

					:hover{
						background-color: $TSR_textHead;
						color: white;
					}
				}

				li{
					//font-size: 1.3em;
					border: 1.5px solid $TSR_textHead;
					padding:2%;
					background-color:$TSR-White;
				}
			}

			.cab-menu_rt{
				text-align: right;
				justify-content: flex-end;
				@media#{$tablet}{
					text-align: center;
				}

			}

			#pop-out-logo{		
				 //background-color: $TSR_textHead;	
				 position: absolute;
				 top:0%;
				 width:100%;
				 border:none;	
				 padding: 0%;

				 #Layer_2{
					 width: 100%;
				 }
				@media#{$tablet}{
					top:-140%;
					width:50%;
				}

				@media#{$desktop}{
					top:-280%;
					width:53%;
				}
				
				img{
					width:100%;	
				}
			}
		}

		.cabin0{
			width:95%;
			height:110px;
			margin:50% auto 5% auto;
			display: flex;
			flex-direction: column;
			border: none;
			justify-content: space-between;
			font-size: 1.3em;
			background-color:transparent;
			color:$TSR_text;
			@media#{$tablet}{
				flex-direction: row;
				margin:15% auto 0% auto;
				height:50px;
			}
			form{
				background-color: $TSR_WhiteTint;
			}
			.input-date{
				width: 90%;
			}
		}
	}

	.cabin{
		width:85%;
		height:710px;
		max-width:600px;
		margin:2% auto;
		border: 2px solid $TSR_Accent;
		display: flex;
		flex-direction:column;
		position: relative;
		//background-color: indigo;
		background-color:$TSR-White;
		@media#{$desktop}{
			height: 500px;
			flex-direction:row;
			max-width:none;

		
			.cabin-IMG{
				width:50%;
				height:100%;
				position: relative;

				img{
					position:absolute;
					left:-26%;
				}

			}

			.cabin-txt{
				width:40%;
				height:100%;
			}


		}

		img.asset-lines{
			width:20%;
			position: absolute;
			right:-10%;
			top:5%;
			@media#{$tablet}{
				top:70%;
			}
			@media#{$desktop}{
				width:15%;
				right:-8%;
				top:50%;
			}
		}
		.cabin-IMG{
			order:2;
			width:128%;
			height: 45%;
			left:-15%;
			position: relative;
			display:flex;
			align-items: center;
			//background-color: blue;
			img{
				width:128%;
			}
			@media#{$tablet}{
				order:1;
				height: 100%;
				left:0;
				width: 100%;
				img{
					width:100%;
				}
			}
		
			.tint_box{
				position: absolute;
				z-index:95;
				right:0%;
				width:15%;
				height:110%;
				background-color:$TSR_WhiteTint;
				display: flex;
				align-items: center;
				justify-content: center;

				.tint_arrow_left_odd{
					width:15%;
					display: block;
					@media#{$desktop}{
						display: block;
						left:15px;
					}
				}

				.tint_arrow_right_even{
					width:15%;
					display: block;
					@media#{$desktop}{
						display: none;
					}
				}

				.tint_arrow_left_even{
					width:15%;
					display: none;
					@media#{$desktop}{
						display: block;
						left:15%;
					}
				}

				@media#{$tablet}{
					right:0;
					height: 100%;
				}

				@media#{$desktop}{
					right:20%;
				}
			}

		}

		.cabin-slide-wrapper{
			display: block;
			position: absolute;
			right:-15px;
			width:30%;
			height:85%;
			//background-color: lightgreen;
			.slideshow-circles{
				width:100px;
				height: 10px;
				position: relative;
				top:100%;
				left:-90px;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				z-index: 95;
			}
			.slideCirc{
				width:10%;
				//height: 25%;
				border-radius: 50%;
				//background-color: white;
				border: 2px solid $TSR_Accent;
			}
			.slideCirc:nth-child(4){
				background-color: $TSR_Accent;
				border:none;

			}
			@media#{$tablet}{
				right:90px;
			}
			@media#{$desktop}{
				height: 400px;
				right:-15px;
			}
			
							
		}

		.cabin-txt{
			order:1;
			width:100%;
			height:45%;
			display: flex;
			justify-content: center;
			align-items: center;
			@media#{$tablet}{
				height:100%;
			}
			.cabin-text-wrapper{
				width:75%;
				height: 75%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				font-size:1.2em;
			
				h2,p,ol{
					width:85%;
				}
				h2{
					font-size:1.3em;
				}
				ol{
					list-style: circle;
				}
				.add-cart{
					display:flex;
					flex-direction: row;
					width:100%;

					p{
						font-size: 1.25em;
					}
				}

				.bttn-tablet{
					display: none;
					@media#{$tablet}{
						display:flex;
						flex-direction: row;
					}
				}
				
			}
		}

		.cabin-bttn-mobile{
			height: auto;
			padding:3%;
			order:3;
			display: block;
			.add-cart{
				display:flex;
				flex-direction: row;
				width:100%;
			}
			@media#{$tablet}{
				display: none;
			}
		}
		
	}

	@media#{$desktop}{

		.cabin:nth-child(even){
			flex-direction: row-reverse;
			background-color:transparent;
			.cabin-IMG{
				.tint_box{
					left:20%;

					.tint_arrow_right_even{
						width:15%;
						display: block;
						@media#{$desktop}{
							display: none;
						}
					
					}

					.tint_arrow_left_even{
						width:15%;
						display: none;
						@media#{$desktop}{
							display: block;
							left:60%;
						}
					}
				}

				img{
					position: absolute;
					left:unset;
					right:-25.5%;
				}

				.cabin-slide-wrapper{
					left:155px;
					//background-color: blue;
					.slideshow-circles{
						left:43px;
					}
				}
			}
		}
	}
}

section#page3-wrapper{
	.main-nav{
		border: none;

		#navButton{
			.nav-icon:after, 
			.nav-icon:before, 
			.nav-icon div {
				background-color: $TSR_White;
			}
		}
	}
	width:100%;
	min-width: 355px;

	section.giantBG{
		width:100%;
		height: 100vh;
		background-image: url("../img/beijing.png");
		background-size: cover;
		position: relative;
		overflow: hidden;
		@media#{$tablet}{
			height: 70vh;
		}
		@media#{$XLdesktop}{
			background-position-y: -100px;

		}
		.header-logo{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 100%;
			height: 5%;
			@media#{$tablet}{
				height: 30%;
			}

			.clear{
				width:55%;
				margin:0 auto;
				img{width:100%;}
				
				@media#{$tablet}{
					display: none;
				}
			}
			.hdr_left{
				
				img{
					width: 100%;
					margin-top:2%;
					visibility: hidden;
					
					@media#{$tablet}{
						visibility: visible;
					}
				}
			}
			.hdr_right{
				width:34%;
				display: flex;
				justify-content: flex-end;
				visibility: hidden;	
				@media#{$tablet}{
					visibility: visible;
				}
		
				.bookNow_bttn{
					width:50%;
					height:34px;
					border:1px solid white;
					background-color:transparent;
					transition: transform 1s ease-in-out; 
					padding:1%;
					margin:1%;
					font-family: $TSRmain;
					font-size: 1em;
					color:white;
				}

				.bookNow_bttn:hover{
					background-color: $TSR_GoldTint;
					border: $TSR-Gold;
					transform: scale(1.1);
				}

				.popout-menu{
					position: absolute;
					z-index: 99;
					top:0;
					bottom:0;
					left:0;
					right:0;
					background-image:url("../img/about-hero-bg.png");
					background-size: cover;
					font-family: $TSRmain;
					display: flex;
					justify-content: center;
					align-items: center;
					transform:translateX(3500px);
					transition: transform 1s, ease;
					display: none;
					@media#{$tablet}{
						display: block;
					}

					.bookingWindow{
						width:90%;
						height: 70%;
						margin: 5% auto;
						border: 2px solid white;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						color:white;

						.close-button{
							width:20%;
							align-self: flex-end;
							margin:1%;
							padding:1%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							color:$TSR_textHead;

							.close-X{
								font-size:1.9em;
							}
						}

						.booking-title{
							font-size:2.2em;
							text-align: center;
							width:100%;
							align-self: center;
						}

						.booking-form{
							width:100%;
							display: flex;
							flex-direction: row;
							justify-content: space-around;

							.form{
								width: 30%;
								font-size:1.5em;
								display: flex;
								flex-direction: column;
								justify-content: space-evenly;
							}

							.formA{
								select{
									width: 90%;
									padding:16px 20px;
									margin:2%;
									border: none;
									border-bottom: 2px solid white;
									border-radius: 4px;
									background-color: transparent;
									color:white;
								}
							}

							.formB{

								#passengers{
									width:100%;
								}
							}
						}

						.booking-bttn{
							align-self: flex-end;
							width:40%;
							.tsr_bttn{
								width:75%;
								color:white;
								background-color: $TSR_Brown;
							}
						}

					}

				}
			}
			
		}
		.cities{
			//min-width: 500px;
			width:100%;
			height: 90%;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			@media#{$tablet}{
				height: 50%;
			}
			
		
			.city-circle{
				text-decoration: none;
				width:225px;
				height:225px;
				margin:2%;
				border: 3px solid $TSR_WhiteTint;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: transform 1.5s ease-in-out;
				h2{
					font-size: 3.5em;
					font-family: $TSRheading;
					color:$TSR_WhiteTint;
					font-weight: 700;
				}
	
				@media#{$tablet}{
					width:300px;
					height:300px;
					
					h2{
						font-size: 4em;
					}
				}
			
			}

			.cc_2{
				display: none;
				width:200px;
				height:200px;
				h2{
					font-size: 3em;
					position: relative;
					top: 36%;
					left: 13%;
				}
				@media#{$tablet}{
					display:block;
				}
			}

			.cc_3{
				width:75px;
				height:75px;

				.base{
					display: block;
				}
				.hover{
					display: none;
					width: 100%;
					
					svg{
						width:30%;
					}
				}
			}

			.city-circle:hover{
				transform: scale(1);
				border: 3px solid $TSR-Gold;
				@media#{$tablet}{
					transform: scale(1.3);
				}
				
				h2{
					color:$TSR-Gold;
				}
			}

			.cc_3:hover{
				.base{
					display: none;
				}
				.hover{
					display: flex;
					justify-content: center;
				}
			}

		}
	}

	section.bg2{
		height: 65vh;
		background-image: url("../img/book-bg.jpg");
	}

	section.page3-articles{
		width:100%;
		height: 90vh;
		display: flex;
		flex-direction: column;

		@media#{$tablet}{
			height: 500px;
			flex-direction: row;
			flex-wrap:wrap;
		}

		@media#{$desktop}{
			height: 900px;
		}
		
		.article-intro{
			width:65%;
			height: 10%;
			padding:5%;
			h2{
				font-size:1.8em;
				letter-spacing: .1em;
				color:$TSR-Gold;
			}
		}

		.articles{
			width:100%;
			height: 100%;
			display: flex;
			flex-direction: column;

			@media#{$tablet}{
				height: 75%;
				flex-direction: row;
	
			}

			.article-txt-wrapper{
				width:100%;
				height: 50%;
				z-index: 99;
				padding:1%;
				display: flex;
				justify-content: center;
				
				@media#{$tablet}{
					width:50%;
					height: 100%;
					flex-direction: row;
				}
				
				.article-text{
					width: 85%;
					height: 100%;
					font-size:1em;
					padding:2%;
					line-height: 1.2em;
					position: relative;
					z-index: 99;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					color: $TSR_text;

					@media#{$desktop}{
						height: 50%;
						justify-content: space-around;
						align-self: center;
					}

					@media#{$XLdesktop}{
						max-width: 60%;
					}
					
					h2{
						font-size:1.2em;
					}
				}

				.stencilBG{
					color:$TSR-Gold;
					font-family: $TSRstencil;
					font-size: 20em;
				}
			}

			.article-IMG{
				width:100%;
			//	height: 40%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				@media#{$tablet}{
					width:50%;
					height: 100%;
				}

				img{
					width:100%;
				}
			}

			.stencilBG{
				color:$TSR-Gold;
				font-family: $TSRstencil;
				font-size: 20em;
			}

		}

		.article1{
			position: relative;
			
			.article-txt-wrapper{

				.stencilBG{
					position: absolute;
					left:15%;
					top:-3%;
					z-index: 1;
				}
			}

			@media#{$desktop}{
				.article-txt-wrapper{
					width:50%;
					.stencilBG{
						left:15%;
						top:15%;
					}
				}
				.article-IMG{
					width:50%;
					justify-content: center;
				}
			}
		}

		
	}

	section.p3-a2{
		height: 350px;
		position: relative;
		// @media#{$desktop}{
		// }

		.article2{
			height: 100%;
			flex-direction: column;
			.article-txt-wrapper{
				height: 100%;
				@media#{$tablet}{
					position: relative;
					left:20%;
				}
			
				.article-text{
					@media#{$tablet}{
						width: 100%;
					}
					@media#{$desktop}{
						min-width: 70%;
						height: 80%;
					}

					@media#{$XLdesktop}{
						max-width: 75%;
					}
				}
			}

			.sten2{
				position: absolute;
				top:-55%;
				right:0;
				@media#{$desktop}{	
					right:25%;
				}
			}

		}
	}

	section.p3-a3{
		//background-color: lightblue;
		position: relative;
		@media#{$desktop}{
			height: auto;
		}
		.article3{
			height: 80vh;
			position: relative;
			display: flex;
			justify-content: space-between;
			@media#{$tablet}{
				height: 50vh;
			}
			@media#{$desktop}{
				height: 85vh;
			}
			.article-txt-wrapper{
				@media#{$tablet}{
					width:50%;
					height: 80%;
				}
				@media#{$desktop}{
					width: 40%;
					height: 75%;
					justify-content: center;
				}

				@media#{$XLdesktop}{
					justify-content: flex-end;
				}

				

				.article-text{
					@media#{$tablet}{
						width:90%;
					}
					@media#{$desktop}{
						height: 40%;
						align-self: center;
					}

					@media#{$XLdesktop}{
						align-self: flex-end;
					}

					
				}
			}
			.article-IMG{
				
				@media#{$tablet}{
					width:60%;
					justify-content: flex-start;
				}

				@media#{$desktop}{
					width:60%;
				}
			}
		}
		
		.sten3{
			position: absolute;
			top:15%;
			right: 35%;
			@media#{$tablet}{
				top:10%;
				left: 30%;
			}

			@media#{$XLdesktop}{
				top:40%;
				left: 35%;
			}

		}
	}

	section.page3-footer{
		width:100%;
		height:100vh;
		display:flex;
		flex-direction: column;
		.footer-title{
			width:100%;
			height: 10%;
			display:flex;
			justify-content: center;
			align-items: center;
			h2{
				color:$TSR_textHead;
				font-size:1.3em;
			}
		}
		.photo-grid{
			width:100%;
			height: 65%;
			background-color: $TSR_textHead;
			display: flex;
			flex-direction: row;
			position: relative;

			.photo{
				width:33.33%;	
				background-repeat: no-repeat;		
				background-size: contain;

				@media#{$tablet}{
					background-size: cover;
				}
			}

			.photo1{
				background-image: url("../img/steak4a.jpg");
			}

			.photo2{
				background-image: url("../img/hotel4b.jpg");
			}

			.photo3{
				background-image: url("../img/garden4c.jpg");
			}


			.photo-banner{
				width:100%;
				height:75%;
				background-color: $TSR_textHead;
				position: absolute;
				bottom:0;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				@media #{$tablet}{
					height: 50%;
				}

				.banner-text{
					width:50%;
					display: flex;
					justify-content: center;
					align-items: center;
					@media#{$tablet}{
						width:35%;
					}
					@media#{$desktop}{
						max-width: 25%;
					}

					p{
						width:85%;
						padding:2%;
						color:$TSR-White;
						font-size:1.2em;
						line-height: 1.3em;
						@media#{$tablet}{
							width:100%;
						}

					}
				}

				.banner-button{
					width:50%;
					display: flex;
					justify-content: center;
					align-items: center;
					@media#{$tablet}{
						width:30%;
					}
						
					button{
						width:65%;
						height:34px;
						border:1px solid white;
						background-color:transparent; 
						padding:1%;
						margin:1%;
						font-family: $TSRmain;
						font-size: 1em;
						color:white;				
					}
				}

			}
		}
		.footer{
			width:90%;
			margin:5% auto;
			height: 25%;
			display: flex;
			flex-direction: row;


			.foot{
				width:33%;
				height: 90%;
				border-bottom:2px solid $TSR_Accent;

			}

			.foot2{
				width:100%;
				display:flex;
				flex-direction:column;
				justify-content: center;
				align-items: center;
				img{width:25%;}
			}

			.foot3,.foot1{
				ul{
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					width: 100%;
					height: 100%;
					color:$TSR_textHead;

					li{
						font-size:1.2em;
						.txt{
							font-size: 1em;
							color:$TSR_Accent;
							float: right;
						}

					}
				}
			}
		}

	}

	.pic-label{
		color:$TSR_textHead;
	}
}

section#page4-wrapper{
	.main-nav{
		border: none;
		top:1.5%;
	}
	width:100%;

	section.giantBG{
		width:100%;
		height: 100vh;
		background-image: url("../img/about-hero-bg.png");
		background-size: cover;
		position: relative;
		overflow: hidden;
		@media#{$tablet}{
			height: 70vh;
		}
	
		.header-logo{
			display: flex;
			flex-direction: column;
			//flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 20%;
			@media#{$tablet}{
				flex-direction: row;
				justify-content: space-around;
				height: 15%;
			}

			.hdr_left{
				width:367px;
				height: 100%;
				display: block;
				img{
					width: 100%;
					margin-top:2%;
				}
				
				@media#{$tablet}{
					display: block;		
						
				}
			}
			.hdr_right{
				height: 100%;
				width:34%;
				display: flex;
				justify-content: flex-end;
			
		
				.bookNow_bttn{
					width:100%;
					height:34px;
					border:2px solid $TSR_Brown;
					background-color:transparent; 
					transition: transform 1s ease-in-out;
					padding:1%;
					margin:1%;
					font-family: $TSRmain;
					font-size: 1em;
					color:$TSR_Brown;

					@media#{$tablet}{
						width: 50%;
					}
				}

				.bookNow_bttn:hover{
					background-color: $TSR_GoldTint;
					border: $TSR-Gold;
					transform: scale(1.1);
				}

				.popout-menu{
					position: absolute;
					top:0;
					bottom:0;
					left:0;
					right:0;
					background-image:url("../img/moscow.jpg");
					background-position-y: -260px;
					font-family: $TSRmain;
					display: flex;
					justify-content: center;
					align-items: center;
					transform:translateX(3500px);
					transition: transform 1s, ease;
					
					.bookingWindow{
						width:90%;
						height: 70%;
						margin: 5% auto;
						border: 2px solid white;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						color:white;

						.close-button{
							width:20%;
							align-self: flex-end;
							margin:1%;
							padding:1%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							color:$TSR_textHead;

							.close-X{
								font-size:1.9em;
							}
						}

						.booking-title{
							font-size:2.2em;
							text-align: center;
							width:100%;
							align-self: center;
						}

						.booking-form{
							width:100%;
							display: flex;
							flex-direction: row;
							justify-content: space-around;

							.form{
								width: 30%;
								font-size:1.5em;
								display: flex;
								flex-direction: column;
								justify-content: space-evenly;
							}

							.formA{
								select{
									width: 90%;
									padding:16px 20px;
									margin:2%;
									border: none;
									border-bottom: 2px solid white;
									border-radius: 4px;
									background-color: transparent;
									color:white;
								}
							}

							.formB{

								#passengers{
									width:100%;
								}
							}
						}

						.booking-bttn{
							align-self: flex-end;
							width:40%;
							.tsr_bttn{
								width:75%;
								color:white;
								background-color: $TSR_Brown;
							}
						}

					}

				}
			}
			
		}	

		.hdr_title{
			width:80%;
			height: 80%;
			margin:0 auto;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			text-align: center;
			//background-color: yellow;
			color:white;
			@media#{$tablet}{
				height: 50%;
			}

			h1{
				font-family: $TSRheading;
				font-weight: 700;
				font-size: 5em;		
				color:$TSR_Accent;	
			}

			h2{
				font-size: 1.5em;			
			}

			p{
				font-size: 1.2em;
				width:80%;
			}

			
		}
	}

	section.page4-articles{
		width:100%;
		margin:5% auto;


		.article-intro{
			margin: 3%;
			h2{
			font-size:2em;
			color:$TSR_Brown;
			}
		}
		.articles{
			width:100%;
			margin:5% auto;
			display: flex;
			flex-direction: column;

			@media#{$tablet}{
				flex-direction: row;

			}

			.article-txt-wrapper{
				width:89%;
				height: 50%;
				z-index: 99;
				margin:5%;
				
				.article-text{
					width: 85%;
					height: 100%;
					font-size:1em;
					line-height: 1.2em;
					
					h2{
						color: $TSR_text;
						margin: 2% auto;
						font-size:1.2em;
					}
				}

			}

			.article-IMG{
				width:100%;
				height: 50%;

				img{
					width:100%;
				}
			}
		}

		.article0{
			.article-txt-wrapper{
				width: 50%;
				margin: 0 auto;
			}

		}
		.article2{
			@media#{$tablet}{
				flex-direction: row-reverse;

			}
		}
	}

	section.page4-footer{
		width:100%;
		height:100%;
		display:flex;
		flex-direction: column;

		.photo-banner{
			width:100%;
			height:30vh;
			background-color: $TSR_textHead;
			//position: absolute;
			bottom:0;
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			.banner-text{
				width:35%;
				display: flex;
				justify-content: center;
				align-items: center;

				p{
					padding:2%;
					color:$TSR-White;
					font-size:1.2em;
					line-height: 1.3em
				}
			}

			.banner-button{
				width:40%;
				display: flex;
				justify-content: center;
				align-items: center;

					
				button{
					width:50%;
					height:34px;
					border:1px solid white;
					background-color:transparent; 
					padding:1%;
					margin:1%;
					font-family: $TSRmain;
					font-size: 1em;
					color:white;				
				}
			}

		}

		.review-banner{
			background-color: white;

			.banner-title{
				width:25%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				h4{
					font-size:5.5em;
					font-weight: 700;
					font-family: $TSRheading;
					color:$TSR_Accent;
				}
				h5{
					color:$TSR_textHead;
					align-self: flex-end;
				}

			}
			.banner-text{
				p{
					color:$TSR_textHead;

				}
			}

		}
		
		.review-grid{
			width:100%;
			height: 45vh;
			background-color: $TSR_Accent;
			display: flex;
			flex-direction: row;
			position: relative;

			.review{
				width:33.33%;	
				
				border-left: 1px solid $TSR_Brown;
				.review-text{
					width:80%;
					height: 100%;
					margin: 0 auto;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					h2{
						color:$TSR_textHead;
					}
				}
				
			}

		}
		.footer{
			width:90%;
			height: 25vh;
			margin:0 auto;
			display: flex;
			flex-direction: row;


			.foot{
				width:33%;
				height: 90%;
				border-bottom:2px solid $TSR_Accent;

			}

			.foot2{
				width:100%;
				display:flex;
				flex-direction:column;
				justify-content: center;
				align-items: center;
				img{width:25%;}
			}

			.foot3,.foot1{
				ul{
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					width: 100%;
					height: 100%;
					color:$TSR_textHead;

					li{
						font-size:1.2em;
						.txt{
							font-size: 1em;
							color:$TSR_Accent;
							float: right;
						}

					}
				}
			}
		}

	}

}

section#page5-wrapper{
	.main-nav{
		border: none;

		#navButton{
			.nav-icon:after, 
			.nav-icon:before, 
			.nav-icon div {
				background-color: $TSR_White;
			}
		}
	}
	width:100%;

	section.giantBG{
		width:100%;
		height: 100vh;
		background-image: url("../img/book-bg.jpg");
		background-size: cover;
		position: relative;
		overflow: hidden;
		@media#{$tablet}{
			height: 70vh;
		}
		

		.header-logo{
			display: flex;
			flex-direction: column;
			//flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 20%;
			@media#{$tablet}{
				flex-direction: row;
				justify-content: space-around;
				height: 15%;
			}

			.hdr_left{
				width:367px;
				height: 100%;
				display: block;
				img{
					width: 100%;
					margin-top:2%;
				}
				
				@media#{$tablet}{
					display: block;		
						
				}
			}
			.hdr_right{
				width:34%;
				height: 100%;
				display: flex;
				justify-content: flex-end;
				//visibility: hidden;	
				@media#{$tablet}{
					visibility: visible;
				}
		
				.bookNow_bttn{
					width:100%;
					height:34px;
					border:1px solid white;
					background-color:transparent;
					transition: transform 1s ease-in-out; 
					padding:1%;
					margin:1%;
					font-family: $TSRmain;
					font-size: 1em;
					color:white;
					@media#{$tablet}{
						width:50%;
					}
				}

				.bookNow_bttn:hover{
					background-color: $TSR_GoldTint;
					border: $TSR-Gold;
					transform: scale(1.1);
				}

				.popout-menu{
					position: absolute;
					top:0;
					bottom:0;
					left:0;
					right:0;
					background-image:url("../img/beijing.png");
					font-family: $TSRmain;
					display: flex;
					justify-content: center;
					align-items: center;
					transform:translateX(3500px);
					transition: transform 1s, ease;
					
					.bookingWindow{
						width:90%;
						height: 70%;
						margin: 5% auto;
						border: 2px solid white;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						color:white;

						.close-button{
							width:20%;
							align-self: flex-end;
							margin:1%;
							padding:1%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							color:$TSR_textHead;

							.close-X{
								font-size:1.9em;
							}
						}

						.booking-title{
							font-size:2.2em;
							text-align: center;
							width:100%;
							align-self: center;
						}

						.booking-form{
							width:100%;
							display: flex;
							flex-direction: row;
							justify-content: space-around;

							.form{
								width: 30%;
								font-size:1.5em;
								display: flex;
								flex-direction: column;
								justify-content: space-evenly;
							}

							.formA{
								select{
									width: 90%;
									padding:16px 20px;
									margin:2%;
									border: none;
									border-bottom: 2px solid white;
									border-radius: 4px;
									background-color: transparent;
									color:white;
								}
							}

							.formB{

								#passengers{
									width:100%;
								}
							}
						}

						.booking-bttn{
							align-self: flex-end;
							width:40%;
							.tsr_bttn{
								width:75%;
								color:white;
								background-color: $TSR_Brown;
							}
						}

					}

				}
			}
			
		}	

		.hdr_title{
			width:80%;
			height: 70%;
			margin:0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			//background-color: yellow;
			color:white;
			@media#{$tablet}{
				height: 50%;
			}

			h1{
				font-family: $TSRheading;
				font-weight: 700;
				font-size: 5em;		
				margin: 5% auto;	
			}

			h2{
				font-size: 1.5em;
				margin: 5% auto;			
			}

			p{
				font-size: 1.2em;
				width:560px;
			}

			
		}
	}

	section.page5-articles{
		width:100%;
		margin:5% auto;

		.articles{
			width:100%;
			margin:5% auto;
			display: flex;
			flex-direction: column;

			@media#{$tablet}{
				flex-direction: row;

			}

			.article-txt-wrapper{
				width:89%;
				margin: 0 auto;
				height: 50%;
				z-index: 99;
				margin:3%;
				
				.article-text{
					width: 85%;
					height: 100%;
					font-size:1em;
					line-height: 1.2em;
					
					h2{
						margin: 5% auto;
						font-size:1.5em;
						color: $TSR_textHead;
					}

					.special{
						font-size:1.1em;
						color: $TSR_textHead;
					}

					.offerBox{
						width: 100%;
						margin-top:5%;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						color:$TSR_textHead;

						.offerBttn{
							width:20%;
							background-color:$TSR_textHead;
							border: none;
							color:white;
							font-family: $TSRmain;
							padding:1%;
							
						}
					}
				}

			}

			.article-IMG{
				width:100%;
				height: 50%;

				img{
					width:100%;
				}
			}
		}
	}

	section.page5-footer{
		width:100%;
		height:100%;
		display:flex;
		flex-direction: column;

		.photo-banner{
			width:100%;
			height:25vh;
			background-color: $TSR_textHead;
			//position: absolute;
			bottom:0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			h3{
				padding:1%;
				width:100%;
				text-align: center;
				color: white;
			}
			.banner-text{
				width:35%;
				display: flex;
				justify-content: center;
				align-items: center;

				p{
					padding:2%;
					color:$TSR-White;
					font-size:1.2em;
					line-height: 1.3em
				}
			}

			.banner-button{
				width:40%;
				display: flex;
				justify-content: center;
				align-items: center;

					
				button{
					width:50%;
					height:34px;
					border:1px solid white;
					background-color:transparent; 
					padding:1%;
					margin:1%;
					font-family: $TSRmain;
					font-size: 1em;
					color:white;				
				}
			}

		}
		
		.options-grid{
			width:95%;
			margin:0 auto;
			height: fit-content;
			display: flex;
			flex-direction: row;
			position: relative;
			border-bottom: 2px solid $TSR_Accent;

			h3{
				position: absolute;
				top:0;
				left:3%;
				margin:1%;
				font-size: 1.3em;
				color:$TSR_Brown;
			}

			.option{
				width:50%;	

				.option-text{
					width:80%;
					height: 100%;
					margin: 0 auto;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					h2{
						color:$TSR_textHead;
					}
				}
				
			}

		}
		.footer{
			width:90%;
			height: 25vh;
			margin:0 auto;
			display: flex;
			flex-direction: row;


			.foot{
				width:33%;
				height: 90%;
				border-bottom:2px solid $TSR_Accent;

			}

			.foot2{
				width:100%;
				display:flex;
				flex-direction:column;
				justify-content: center;
				align-items: center;
				img{width:25%;}
			}

			.foot3,.foot1{
				ul{
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					width: 100%;
					height: 100%;
					color:$TSR_textHead;

					li{
						font-size:1.2em;
						.txt{
							font-size: 1em;
							color:$TSR_Accent;
							float: right;
						}

					}
				}
			}
		}

	}

}

//PAGE ONE
	//CSS 
	//MENU
	//RIGHT BUTTON IMAGES

//PAGE TWO
	//CSS 
	//MENU
//PAGE THREE
	//CSS 
	//FOOTER
//EXTRA CREDIT PAGES