/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'base/colors';
@import 'base/fonts';
@import 'base/media';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: $TSRmain;
}

.float-title{
	font-family: $TSRheading;
	font-weight:700; 
	z-index: 99;
}

.tsr_bttn{
	margin-top:5%;
	width:35%;
	background-color:$TSR_textHead;
	border: none;
	color:white;
	font-family: $TSRmain;
	padding:1%;
}

/* 2. Content ================================= */

section#page-wrapper{
	width:100%;
	height: 100vh;
	margin:0 auto;
	display: flex;
	flex-direction: column;

	@media#{$tablet}{
		flex-direction: row;
	}

	.scroll-wrapper{
		width:100%;
		margin:0 auto;
		height: 50vh;
		// background-color:rgb(218, 196, 199);
		overflow: scroll;
		@media#{$tablet}{
			height: 100vh;
			width:50%;
			margin:0;
			overflow: unset;
		}

		#left-nav{
			width:100%;
			height:50px;
			background-color:#ffffff;
			border-bottom: 3px solid $TSR_Accent;
		}

		.scroll-screen{
			width:100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			@media#{$tablet}{
				height: 55vh;
			}
			@media#{$desktop}{
				height: 100vh;
			}

			.screen_top{
				width:100%;
				height: 50%;

				.tsr_txt{
					font-size:.9em;
					color: $TSR_text;
				}
			}

			.screen-bottomBox{
				width: 100%;
				height: 50vh;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				.bottomBox_wrapper{
					width:80%;
					margin:0 auto;
					line-height: 1.5em;
				
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.tsr_txtHead{
						width:65%;
						color: $TSR_textHead;
						font-size:1.2em;
						margin: 2% 0;
					}
					.tsr_txt{
						width:65%;
						font-size:.9em;
						color: $TSR_text;
					}
				}
			}
			
		}

		.screen_1Header{
			.header-welcome{
				width:100%;
				display: flex;
				flex-direction: column;
				.welcome-txtBox{
					width:85%;
					margin: 0 auto;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.txtBox{
						text-align: center;
						margin: 0 auto;
						margin-bottom:10%;
						font-size:1.2em;
						color: $TSR_textHead;
					}

					#logo{
						width:100%;
					}
				}
			}

			
		}

		.screen_2TSR{
			.screen_top{
				
				.IMGbox{
					width:70%;
					max-width: 75%;
					height: 100%;
					position: relative;
					@media#{$tablet}{
						min-width:88%;
					}
					@media#{$desktop}{
						min-width:70%;
					}

					.float-title{
						width:max-content;
						position: absolute;
						top:20%;
						right:-15%;
						font-size:3em;
						z-index: 99;
						color:$TSR_textHead;
						@media#{$tablet}{
							font-size:5em;
						}
					}

					img{
						width:100%;
						height: 70%;
						position: absolute;
						bottom:0;
					}
				}
			}
		}

		.screen_3Service{
			.screen_top{
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				width:100%;
				.float-title{
					font-size:3em;
					z-index: 99;
					margin-bottom:5%;
					text-align: center;
					color:$TSR_Accent;
					@media#{$desktop}{
						font-size: 5em;
					}
					
				}
				.screen3_topTxtBox{
					width:90%;
					display: flex;
					flex-direction: row;
					align-self: center;
					justify-content: space-evenly;
					
					.screen3_topImg{
						width:25%;
						img{
							width:100%;
						}
					}

					.screen3_topTxt{
						width:70%;
						padding:2%;
					}
				}
			}

			.bottomBox_3{
				width:100%;
				.bottomBox_wrapper{
					width:100%;
					height: 100%;
					display:flex;
					flex-direction: column-reverse;
					@media#{$tablet}{
						flex-direction:row;
					}
					

					.screen3_bttmTxt{
						width:100%;
						padding:0 2%;
						line-height: 1.5em;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						@media#{$tablet}{
							width:50%;
						}
						

						.bttmTxt_wrapper{
							width:80%;
							margin:0 auto;
							display: flex;
							flex-direction: column;
							

						}

					
						.tsr_txt{
							width:85%;
						}

						.bttnBox_3{
							width:70%;
						}
					
					}

					.screen3_bttmImg{
						width:100%;
						@media#{$tablet}{
							width:60%
						}
						
						img{
							width: 100%;
						}

					}
				
				}
			}
		}

		.screen_4Cabins{
			
			.screen_top{
				width:100%;
				height: 50vh;
				.IMGbox{
					width:75%;
					position: relative;
					top:25%;
					.tint_box{
						position: absolute;
						bottom:0;
						width:100%;
						height: 20%;
						background-color:$TSR_WhiteTint;
					}
					.float-title{
						width:max-content;
						font-size:3em;
						z-index: 99;
						//text-align: center;
						position: absolute;
						bottom:-20%;
						right:-30%;
						color: $TSR_textHead;
						@media#{$tablet}{
							font-size: 5em;
							bottom:-15%;
						}
					}

					img{
						width:100%;
					}
				}

			}

		}

		
		.screen_5Footer{
			

			.screen_top{
				width:100%;
				height:50%;
				
				.TXTbox{
					width:100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					.footer_txt{
						width:30%;
						height: auto;
						font-size:2em;
						text-align: center;
					}
				}
			}

			.screen-bottomBox{
				width: 100%;
				height: 50%;
				border-top: 5px solid $TSR_Accent;

				.bottomBox_wrapper{
					width:100%;
					height: 100%;
					display: flex;
					flex-direction: column;

					.top_footer{
						width:100%;
						height: 50%;
						display: flex;
						flex-direction: column;
						

						.footer_logo{
							width:30%;
							height: 75%;
							align-self: center;
							#logo_footer{
								width: 100%;
							}
						}

						.social_icons{
							width:100%;
							height: 25%;
							background-color: yellow;
						}
					}
					.bttm_footer{
						width:100%;
						height: 50%;
						display: flex;
						flex-direction: row;

						.bttm_left{
							width:50%;
							height: 100%;
							background-color: bisque;
						}
						.bttm_left{
							width:50%;
							height: 100%;
							
						}
					
					}
				}
			}

		}
	
	}
	.fixed-wrapper{
		width:100%;
		height: 50vh;
		border:$TSR_GoldTint;
		display:flex;
		flex-direction: column;
		position: relative;
		font-family: $TSRstencil;

		a:link{
			text-decoration: none;
		}
		
		h2{
			font-family: $TSRmain;
			color:white;
		}

		.moscow{
			color:$TSR_Mscw;
		}

		.bjing{
			color:$TSR_Bjing;
		}
		
		
		@media#{$tablet}{
			height: 100vh;
			width:50%;
			position: fixed;
			right:0;
		}
		
		
		.bookNow_bttn{
			display: none;
			position: absolute;
			top:0;
			right:0;
			width:150px;
			height:20px;
			margin:2%;
			border: 2px solid;
			background: transparent;

			@media#{$tablet}{
				display: block;
			}
			

		}

		.fixed-button{
			width:100%;
			height: 50vh;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			

			.inner_bttn{
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-self: center;
				font-size:3em;
				h1{
					font-size:1.3em;
				}
				h2{
					font-size:.5em;
				}
				
				.arrow_top{
					position: relative;
					right:0;
					color:white;
				}

				.arrow_bottom{
					position: relative;
					right:0;
					color:white;
				}

				
			}
		}

		.button_top{
			background-color: $TSR-Orange;
		}

		.button_bottom{
			background-color:$TSR-Gold;
		}

		.fixed-bar{
			position:absolute;
			top:calc(100% - 10px);
			right:0;
			width: 70%;
			height: 40px;
			background-color:$TSR-White;

			.fixed-bar_title{
				width:50%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-content: center;
				h2{
					display: flex;
					align-self: center;
					color:$TSR_textHead;
					font-size:1.3em;
				}
			}
			@media#{$tablet}{
				top:49%;
			}
			

		}

	}
}


section#page2-wrapper{
	width:100%;
	height: auto;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: $TSR_textHead;

	.pop-out-menu{
		background-color: gray;
		display: flex;
		flex-direction: column;
		align-items: center; 
		#pop-out-logoA{
			max-width: 30%;
		}
		ul{
			width:100%;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			
			a{
				width:25%;
				text-decoration: none;
				color:$TSR_Brown;

				:hover{
					background-color: $TSR_Brown;
					color: white;
				}
				
			}

			
			li{
				font-size: 1.5em;
				border: 1.5px solid $TSR_Brown;
				text-align: center;padding:3%;
			}


			#pop-out-logo{
				position: relative;	
				right:43px;
				border:none;

				img{
					width:170%;
				}
			}
		}
	}

	.cabin{
		width:90%;
		height:100vh;
		max-width:600px;
		margin:5% auto;
		border: 2px solid $TSR_Accent;
		display: flex;
		flex-direction:column;
		.cabin-IMG{
			width:100%;
			height: 50%;
			position: relative;
			display:flex;
			align-items: center;		img{
				width:100%;
			}

			.tint_box{
				position: absolute;
				z-index:99;
				right:0;
				width:30%;
				height:100%;
				background-color:$TSR_WhiteTint;
			}
		}
		.cabin-txt{
			width:100%;
			height:50%;
			.cabin-text-wrapper{
				width:80%;
				height: 100%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				font-size:1.2em;
			
				h2,p,ol{
					width:85%;
				}
				h2{
					font-size:1.3em;
				}
				ol{
					
					list-style: circle;
					align-self: flex-end;

				}
				.add-cart{
					display:flex;
					flex-direction: row;
					width:100%;
				}
				
			}
		}

		@media#{$desktop}{
			height: 64vh;
			flex-direction:row;
			max-width:none;

		
			.cabin-IMG{
				width:50%;
				height:100%;
				position: relative;

				img{
					position:absolute;
					left:-12%;
				}
			}

			.cabin-txt{
				width:50%;
				height:100%;
			}


		}
	}

	.cabin0{
		width:90%;
		height:50px;
		margin:0% auto;
		display: flex;
		border: none;
		justify-content: space-between;
		font-size: 1.5em;
		color:$TSR_text;
	}

	@media#{$desktop}{

		.cabin:nth-child(odd){
			flex-direction: row-reverse;

			.cabin-IMG{
				.tint_box{
					left:0;
				}

				img{
					position: absolute;
					left:unset;
					right:-11.5%;
				}
			}
		}
	}
}

section#page3-wrapper{

	width:100%;

	section.giantBG{
		width:100%;
		height: 100vh;
		background-image: url("../img/beijing.png");
		background-size: cover;
		@media#{$tablet}{
			height: 50vh;
		}
		@media#{$desktop}{
			height: 100vh;
		}

		.header-logo{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 100%;
			height: 5%;
			@media#{$tablet}{
				height: 30%;
			}

			.clear{
				width:95%;
				margin:0 auto;
				img{width:100%;}
				
				@media#{$tablet}{
					display: none;
				}
			}
			.hdr_left{
				img{
					width: 100%;
					margin-top:2%;
					visibility: hidden;
					
					@media#{$tablet}{
						visibility: visible;
					}
				}
			}
			.hdr_right{
				width:34%;
				display: flex;
				justify-content: flex-end;
				visibility: hidden;	
				@media#{$tablet}{
					visibility: visible;
				}
		
				button{
					width:50%;
					height:34px;
					border:1px solid white;
					background-color:transparent; 
					padding:1%;
					margin:1%;
					font-family: $TSRmain;
					font-size: 1em;
					color:white;
				}
			}
			
		}
		.cities{
			width:70%;
			height: 95%;
			float: right;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media#{$tablet}{
				flex-direction: row;
				height: 50%;
				align-self: center;
			}
		
			.city-circle{
				width:250px;
				height:250px;
				margin:3%;
				border: 3px solid $TSR_WhiteTint;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				
				h2{
					font-size: 4em;
					font-family: $TSRheading;
					color:$TSR_WhiteTint;
					font-weight: 700;
				}
	
			}

			.cc_2{
				width:225px;
				height:225px;
				h2{font-size: 3.5em;}
			}

			.cc_3{
				width:200px;
				height:200px;
				h2{font-size: 4em;}
			}

			.city-circle:hover{
				transform: scale(1.5);
				transition:1.5s ease-in-out;
				border: 3px solid $TSR-Gold;
				
				h2{
					color:$TSR-Gold;
				}
			}

		}
	}

	section.bg2{
		background-image: url("../img/book-bg.jpg");
	}

	section.page3-articles{
		width:95%;
		margin:5% auto;

		.article-intro{
			h2{
				font-size:3em;
				color:$TSR-Gold;
			}
		}
		.articles{
			width:100%;
			margin:5% auto;
			display: flex;
			flex-direction: column;

			@media#{$tablet}{
				flex-direction: row;

			}

			.article-txt-wrapper{
				width:89%;
				height: 50%;
				z-index: 99;
				margin:5%;
				
				.article-text{
					width: 85%;
					height: 100%;
					font-size:1em;
					line-height: 1.2em;
					color: $TSR_text;
					
					h2{
						margin: 2% auto;
						font-size:1.2em;
					}
				}

			}

			.article-IMG{
				width:100%;
				height: 50%;

				img{
					width:100%;
				}
			}

			.stencilBG{
				color:$TSR-Gold;
				font-family: $TSRstencil;
				font-size: 20em;
			}
		}

		.article1{
			position: relative;
			
			.stencilBG{
				position: absolute;
				left:12%;
				top:5%;
				z-index: 1;
			}

			@media#{$tablet}{
				.article-txt-wrapper{
					width:40%;
					position: relative;
					align-self: flex-end;
				}

				.stencilBG{
					left:12%;
					top:30%;
				}
	
				.article-IMG{
					width:55%;
				}
			}
		}

		.article2{
			flex-direction: column-reverse;
			.test{
				position: relative;
				.sten2{
					position:absolute;
					top:-200px;
					right:0;
				}
			}

			@media#{$tablet}{
				flex-direction: row;
				.test{
					.sten2{
						left:100px;
					}
				}
				.article-txt-wrapper{
					width:40%;
					position: relative;
					left:100px;
				}			
			}

		}

		.article3{
			position: relative;
			.test{
				position: absolute;
				
			}

			@media#{$tablet}{

				.test{
					top:15%;
					left:21%;
				}
			
				.article-txt-wrapper{
					width:30%;
					align-self: center;
					z-index: 1;
					margin:0%;
				}

				.article-IMG{
					width:70%;
				}
			}
		}
		
	}

	section.page3-footer{
		width:100%;
		height:100vh;
		display:flex;
		flex-direction: column;
		.footer-title{
			width:100%;
			height: 10%;
			display:flex;
			justify-content: center;
			align-items: center;
			h2{
				color:$TSR_textHead;
				font-size:1.3em;
			}
		}
		.photo-grid{
			width:100%;
			height: 54%;
			background-color: lightpink;
			display: flex;
			flex-direction: row;
			position: relative;

			.photo{
				width:33.33%;	
				background-repeat: no-repeat;	
				background-size: cover;	
			}

			.photo1{
				background-image: url("../img/steak4a.jpg");
			}

			.photo2{
				background-image: url("../img/hotel4b.jpg");
			}

			.photo3{
				background-image: url("../img/garden4c.jpg");
			}


			.photo-banner{
				width:100%;
				height:30%;
				background-color: $TSR_textHead;
				position: absolute;
				bottom:0;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

				.banner-text{
					width:100%;
					display: flex;
					justify-content: center;
					align-items: center;

					p{
						padding:2%;
						color:$TSR-White;
						font-size:1.2em;
						line-height: 1.3em
					}
				}

				.banner-button{
					width:100%;
					display: flex;
					justify-content: center;
					align-items: center;

						
					button{
						width:50%;
						height:34px;
						border:1px solid white;
						background-color:transparent; 
						padding:1%;
						margin:1%;
						font-family: $TSRmain;
						font-size: 1em;
						color:white;				
					}
				}

			}
		}
		.footer{
			width:90%;
			margin:0 auto;
			height: 25%;
			display: flex;
			flex-direction: row;


			.foot{
				width:33%;
				height: 90%;
				border-bottom:2px solid $TSR_Accent;

			}

			.foot2{
				width:100%;
				display:flex;
				flex-direction:column;
				justify-content: center;
				align-items: center;
				img{width:25%;}
			}

			.foot3,.foot1{
				ul{
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					width: 100%;
					height: 100%;

					li{
						color:$TSR_textHead;

					}
				}
			}
		}

	}

	.pic-label{
		color:$TSR_textHead;
	}
}




//PAGE ONE
	//CSS 
	//MENU
	//RIGHT BUTTON IMAGES

//PAGE TWO
	//CSS 
	//MENU
//PAGE THREE
	//CSS 
	//FOOTER
//EXTRA CREDIT PAGES